html, body {
    background: #A1C8ED;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;
    height: 7%;
    background: #287FCC;
    position: fixed;
}

.header-text {
    color: white;
}

.Hub-connection-status {
    display: inline;
}

.connecting-text {
    padding-right: 2%;
    padding-top: 3%;
    display: inline;
}

.cooksmart-header {
    height: 100%;
    float: left;
    display: inline;
    font-family: 'Atomic Age', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.connected-text {
    display: inline;
}

.refresh-button-container {
    position: fixed;
    width: 20%;
    border-radius: 50%;
    bottom: 8%;
    right: 10%;
    background: #FFFFFF;
}

#refreshButton {
    font-size: 60px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.list-header {
    color: black;
    font-size: 300%;
}

.device-list-header-container {
    padding-top: 5%;
    margin-left: 5%;
    margin-left: 5%;
}

.menu-selection-container {
    position: fixed;
    width: 9%;
    top: 10%;
    right: 12%;
    bottom: 8%;
}
.cooknow-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 65%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    
}

.cooknow-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.currentRecipe-button{
    background-color: #287FCC; /* same as header */
    border: double;
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 11%;
    width: 90%;
    top: 52%;
    left: 4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.currentRecipe-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.status-button{
    background-color: #287FCC;
    border: double;
    color: white;
    padding: 0px 0px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 40%;
    width: 90%;
    top: 10%;
    left: 4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.status-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

